.AppContainer {
    text-align: center;
    background-color: #282c34;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 12px;
    color: white;
}

.AppBanner {
    height: 1.3em;
    width: 100%;
    background-color: #181b20;
    color: #505e9c;
    padding-bottom: 0.3em;
    font-size: 36px;
}

.AppContent {
    flex: 1;
    border: 1px solid red;
    display: flex;
}

.AppFooter {
    margin-top: auto;
    background-color: #181b20;
    color: #505e9c;
    font-size: 36px;
}

.PanelButton {
    cursor: pointer;
}