{% extends "layout.html" %}
{% block content %}

<script>
	(function() {

	  	var app = angular.module("DeviceTracker");
	  
	  	app.controller("MainController", ['$scope', '$interval', '$location', '$rootScope', MainController]);

	  	function MainController($scope, $interval, $location, $rootScope) {

	  		$scope.editMode = false;

		    $scope.globalData = {}; 

		    $scope.getData = function () {
				$.get(
				    "/refresh/",
				    {},
				    function(data) {
				    	$scope.globalData = data;
				    }
				);
		    };

		    $scope.deleteData = function (key) {
		    	$.post(
		    		"/delete/", 
		    		{dKey: key}, 
		    		function(res) {
		    			console.log(res)
		    	});
		    }

		    $interval(function() {
		    	$scope.getData();
		    }, 500);
	  	};
	}());
</script>

<div class="home" ng-controller="MainController">
    <div ng-click="getData()"> <button type="button"> FORCE REFRESH </button></div>
    <form action="/home/" method="post">
    	<fieldset>
	    	<h3>Data Name:</h3><br>
			<input type="text" name="dataName" value=""><br>
			<h3>Data Value:</h3><br>
			<input type="text" name="dataValue" value=""><br><br>
			<input type="submit" value="Add Data">
		</fieldset>
    </form>
    <table>
    	<tr>
    		<td><h3> Name &nbsp</h3></td> <td><h3> Value &nbsp</h3></td> <td><h3> Type </h3></td> 
    		<td ng-click="editMode = !editMode"> <button type="button"> EDIT MODE </button></td>
    	</tr>
  		<tr ng-repeat="(key, value) in globalData">
    		<td> [[ value['name'] ]] </td> <td> [[ value['value'] ]] </td> <td> [[ value['type'] ]] </td> 
    		<td ng-if="editMode" ng-click="deleteData(key)">  <button type="button"> DELETE </button> </td>
  		</tr>
	</table>
</div>
{% endblock %}