.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Chart-body {
  order: 2;
  width: 25%;
  margin: auto;
}

.Data {
  order: 1;
  background-color: #1f2229;
  width: 15%;
  border: 1px solid white;
  align-self: stretch;
}

.Data-control {
  border-bottom: 1px solid #525b70;
  padding-bottom: 5px;
}

.Data-control-add {
  background-color: #525b70;
  width: 81%;
  margin: 10px auto;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}

.Data-item {
  border-bottom: 1px solid #525b70;
  padding-bottom: 5px;
  font-size: 18px;
}

.App-container {
  display: flex;
  flex-direction: row;
}
